# Skip Ansible retry files
**/*.retry

# Skip macOS folder metadata
**/.DS_Store

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
tf.json

# .tfvars files
*.tfvars

